/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}